[Unit]
Description=SAME Alert Monitor
After=network.target sound.target

[Service]
ExecStart=/usr/bin/bash -c '/home/noaa/sameasy/system/same_monitor.sh >> /home/noaa/sameasy/runtime/logs/same_monitor.log 2>&1'

WorkingDirectory=/home/noaa/sameasy
Restart=always
RestartSec=5
User=noaa
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target